<button type="button" class="continue-weaving" title="{{ localize "ED.Chat.Button.continueWeavingTitle" }}"
    data-action="continueWeaving">
  {{ localize "ED.Chat.Button.continueWeaving" }}
</button>